* { 
   padding: 0; margin: 0; font-family: 'square_r';}
ul { list-style-type: none;}
a {text-decoration: none; color: black;}

body {
   overflow-x: hidden;
}

.main_wrap {
   width: 1200px;
   position: relative;
}

.main_wrap2 {
   width: 1200px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   overflow: hidden;
   text-align: center;
}



/* 헤더 */
/* 헤더 전체 */
#top { /* changed */
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 100px;
}



#top .logo { /* changed */
	position: absolute;
	left: 0;
	top: 25px;
	z-index: 10000;
}
#top .logo a { /* changed */
	display: block;
	padding: 0 30px;
	line-height: 62px;
}
#top nav {
	position: absolute;
	left: -50%; /* changed */
	top: 0;
	z-index: 9999;
	width: 200%; /* changed */
	font-size: 0.875em;
	background-color: #fff;
}
#top nav > .depth1 {
	position: relative;
	text-align: center;
	height: 100px;
	overflow: hidden;
	transition: height 0.4s;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    font-size: 16px;
}
#top nav > .depth1::after {
	content: "";
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
	height: 1px;
	background-color: #eaeaea;
}
#top nav > .depth1:hover {
	height: 270px;
}
#top nav > .depth1:hover::after {
	display: block;
}
#top nav > .depth1 > li {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
#top nav > .depth1 > li > a {
	display: block;
	padding: 0 30px;
	line-height: 108px;
	text-align: center;
	background-color: #fff;
	transition: background-color 0.3s;
}
#top > nav > .depth1 > .sub a {
	display: block;
	line-height: 40px;
	background-color: #fff;
}
#top nav > .depth1 > li:hover > a {
	/* background-color: #f4f4f48e; */
}

.sub > li:first-child {
    padding-top: 24px;
}

.sub > li {
    padding-top: 15px;
    /* outline: 1px solid red; */
    font-size: 13px;
}

.sub {
    padding-bottom: 50px;
    /* outline: 1px solid red; */
}

/* nav 악센트 */
.accent {
    width: 120px; height: 4px;
	background-color: #B5A189;
    position: absolute;
    top: 72px;
    left: 400px;
    display: none;
    transition-duration: 0.4s;
}
/* title */
#sub_title {
   width: 1920px; height: 400px; margin: 0 auto;
   /* background-color: red; */
   background-image: url('../img/sub1.png');
   color: white;
   text-align: center;
}

#sub_title > h1 {
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   font-size: 46px;
   padding-top: 140px;
}

#sub_title > h2 {
   font-size: 26px;
   font-weight: lighter;
   padding-top: 35px;
}

#sub_title > h2 > span {
   font-weight: bold;
}

/* nav */
#sub_nav {
   width: 1900px; height: 58px; margin: 0 auto;
   border-bottom: 1px solid #b6b6b6;
   /* text-align: center; */
   position: relative;
   top: 750px;
}

#sub_nav > ul {
   /* outline: 1PX solid red; */
   position: absolute;
   left: calc(100%/2.23);
   top: 20px;
}

#sub_nav > ul > li {
   float: left;
   margin-right: 60px;
   /* padding-bottom: 15px;
   border-bottom: 4px solid red; */
}

#sub_nav > ul > li:last-child {
   margin-right: 0px;
}

#sub_nav > ul > li > a {
   font-size: 15px;
}

#banner{
position: relative;
text-align: center;
width: 100%;
bottom: 100px;
vertical-align: center;
margin-top: 0 auto;
}

#About {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   /* outline: 1px solid red; */
   top: 300px;
}


#About > h1 {
   color: brown;
   font-size: 45px;
   font-weight: bold;
   position: relative;
   left: 450px
}

#About > p {
   color: #8c8c8c;
   position: relative;  
   font-size: 24px;
   position: relative;
   left: 450px;
   
}

#About > div > img {
   width: 1200px;
   height: 700px;
   position: relative;
   
}


#About > div > h2 {
   text-align: center;
   color: #a69480;
   position: relative;
}

#promise {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   top: 500px;
}

#promise > h1 {
   color: brown;
   text-align: center;
   position: relative;
   font-size: 45px;
}

#promise > p {
   font-size: 24px;
   color: #8c8c8c;
   text-align: center;
}

#promise > div  > h1 {
   position: relative;
   left: 600px;
   bottom: 430px;
   font-size: 32px;
   color: #9d5a29 ;
}

#promise > div > h2 {
   position: relative;
   left: 600px;
   bottom: 450px;
   color: #9c5a32;
}

/* 푸터 */
#footer {
   position: relative;
   text-align: center;
   overflow: hidden;
   background: #1F1B18;
   background-size: cover;
   width: 100%; height: 300px;
   color: rgb(150, 145, 145);
   font-size: 12px;
   top: 100px;
}
.footer_container {
   width: 1200px;
   margin: 0 auto;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
   position: relative;
   font-size: 12px;
}


.footer_menu > li {
   display: inline-block;
   margin-right: 80px;
}


.footer_menu > li > a {
   color: rgb(150, 145, 145);
   font-size: 13px;
}

.sns {
   position: absolute;
   right: 0;
   top: 17px;
}

.sns > li {
   display: inline-block;
}

.sns > li > a > img {
   width: 20px;
   margin-left: 4px;
   
}



.footer_line {
   border-bottom: 1px solid rgba(255, 255, 255, 0.082);
}


.footer_container2 {
   width: 1200px; margin: 0 auto;
   /* outline: 1px solid red; */
   text-align: center;
}

.footer_logo {
   width: 50px;
   margin-top: 30px;
   margin-bottom: 20px;
}

.footer_text {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
   font-size: 12px;
}


.copy {
   padding-bottom: 30px;
}





